$base-dark: #243b55;
$base-light: #fdfdfd;
$base-darker-middle: #87314e;
$base-lighter-middle: #bb394f;


* {
  font-family: 'Outfit', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body.preload * {
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
}